.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.note {
    position: absolute;
    color: white;
    text-align: right;
    bottom: 0px;
    right: 20px;
    font-size: 12px;
    font-family: "Mitr", sans-serif;
    z-index: 1;
}